/*
Css-Template Created for a Test App.
Author: Lalit Kumawat
Version : 1.1
*/

html, body, div {
	margin:auto;
	display:block;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 11px;
}
body.app-wrapper {
	background:#EDEFF4;
}
div.content {
	width:900px;
	margin:auto;
	text-align:justify;
	border-color: rgba(0, 0, 0, 0.398438);
	border-style: solid;
	border-width: 1px;
	background:#fff;
	padding:0 5px 5px;
	padding-top: 15px;
	margin-top:10px;
}
div.Form-holder fieldset {
	border:0px;
}
.placeholder {
	width:870px;
}
.admin .placeholder , .home .page-title {
	width:410px;
	margin:auto;
}


.placeholder ul {
	margin:0;
}

.home.placeholder fieldset ul {
	padding :0;
}
div.Form-holder fieldset li {
	display:block;
	width:400px;
}
label.label {
	font-size: 35px;
	color:#003b97;
}
label.caption {
	font-size:20px;
}
 button.go {
	background:#EEE;
	border:1px solid #e7e7e7;
	border-color: rgba(0, 0, 0, 0.398438);
	height:30px;
	width: 240px;
	margin: auto;
}
/* managing Borders */
.round-border {
	border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
}
.hiden {
	opacity:0;
}
/* Box for cart*/
.clear {
	clear:both;
	display:block;
}
.box {
	float:left;
	margin: 10px;
}
.box li {
	display: block;
}
.box.large {
	width: 325px;
	margin-left: 25px;
}
.box.large .heading {
	font-size: 17px;
	margin-bottom: 10px;
	padding-left: 10px;
}
.box.small {
	width:150px;
	padding-top:100px;
}
.actions button {
	background:#81b4ed;
	color:#000;
	border:0px;
	width: 125px;
	padding: 5px;
	font-weight:bold;
	margin:10px auto;
	cursor:pointer;
}
.allProducts select {
	display:none;
}
.box.large ul {
	margin:0px;
	padding:0px;
}
.box.large li {
	border:1px solid #fe7878;
	padding: 0 5px;
}
.box li.odd {
	background:#ecdada;
}
.box li.even {
	background:#f5f5f5;
}
.box li.active {
	background:#CC0033;
}
.box.large li div {
	padding:5px;
}
.box.large li div.name {
	float:left;
	width:70%;
}
.box.large li div.price {
	margin-left:75%;
	border-left:1px solid #fe7878;
}
p.error {
background: #FFD7D7 url('../img/error.jpg') no-repeat 10px 10px;
color: #FF0000;
border: ##DF8F8F 1px solid;
padding: 10px 10px 10px 40px;
	margin:0 10px;
}

p.success {
	background: #ECFAE3 url('../img/success.jpg') no-repeat 10px 110px
	color:#a8fe02;
	border:##ACDBAD 1px solid;
padding: 10px 10px 10px 40px;
	margin:0 10px;
}



div.Form-holder fieldset .customerhandler_holder {
width: 325px;
background:#e0e0e0 url(../img/order-list-heading.png) no-repeat 290px -10px ;
display: block;
margin: 10px 0;
height: 25px;
border: 1px solid #9eaab6;
text-align: left;
padding-top: 0;
}

div.Form-holder fieldset .customerhandler_holder #handle {
height: 25px;
width: 325px;
margin-top: -25px;
}
div.Form-holder fieldset .customerhandler_holder span {
	font-size:20px; padding-left: 10px;
}


/* admin css */


div.Form-holder.admin fieldset li {
	display:inline;
	width:200px;
}
div.Form-holder.admin fieldset.dateholder {
	width:450px;
}
ul.date-admin, ul.date-admin li {
	display:inline;
}
ul.date-admin .caption {
	width: 180px;
	float: left;
	padding-top: 25px;
}
div.Form-holder fieldset .datehandler_holder {
	width:195px;
	background:#d9d9d9 url(../img/order-list-heading.png) no-repeat 160px 0px;
	display: block;
	margin: 0;
	margin-left: 195px;
	height: 30px;
	border: 1px solid #9eaab6;
	text-align: left;
	padding-top: 10px;
}
div.Form-holder fieldset .datehandler_holder span {
	font-size:20px; padding-left: 10px;
}
div.Form-holder.admin fieldset.dateholder li {
	padding-left:25px;
}
div.Form-holder.admin fieldset.dateholder li select  , div.Form-holder  fieldset  li select {
	background: #EEE;
	border: 1px solid #e7e7e7;
	border-color: rgba(0, 0, 0, 0.398438);
	height: 40px;
	width: 195px;
	color:#6a6a6a;
	margin-top: -35px;
}
div.Form-holder.admin fieldset {
	border: 0px;
	text-align: right;
}
.Order-Row {
	background:#f2f2f4;
}
.orderDetails li ul, .orderDetails ul {
	padding:0px;
	margin: 5px 0px;
}
.Order-Row li, .orderDetails li {
	display:block;
}
.orderDetails .Order_items li {
	border: 1px solid #b84445;
	padding: 0 5px;
	background:#fff;
	font-size: 20px;
	line-height: 1;
	vertical-align: middle;
}
.orderDetails .Order_items li .name {
	float:left;
	width:325px;
	padding: 8px;
	font-size: 17px;
}
.orderDetails .Order_items li .price {
	margin-left:335px;
	border-left: 1px solid #b84445;
	padding: 8px;
	font-size: 17px;
}

.orderDetails .Order_items li#subtotal .name , .orderDetails .Order_items li#subtotal .price {
font-weight:bold;
}
.Order-Row .Order_items {
	padding:5px;
}
.Order-Row .heading  {
	background:#c7d9ef;
	height:40px;
	font-size:25px;
	line-height:1;
	vertical-align:middle;
	border:1px solid #6f95c2;
	border-top:0px;
}

.Order-Row  {  	border:1px solid #6f95c2;}
.Order-Row .heading .orderId {
	background: #c7d9ef;
	font-size: 20px;
	line-height: 1;
	vertical-align: middle;
	padding: 10px;
	margin-left: 40px;
	color:#6a6a6a;
}

.Order-Row .heading .status {
cursor: pointer;
width: 40px;
	display: block;
	float: left;
	height: 40px;
}
.Order-Row .heading .status.open {
	background: url(../img/order-list-heading.png) no-repeat;
	
}
.Order-Row .heading .status.close {
	background: url(../img/order-list-heading.png) no-repeat left -43px;
}
.snap_shot {
	background:#f2f2f2;
	padding:5px 10px;
}
.snap_shot_heading {
	font-weight:normal;
	font-size:20px;
	margin:5px 0;
}
.snap_shot_data {
	padding-left: 15px;
}
.snap_shot_data ul {
	margin:0px;
	padding:0px;
}
